<!DOCTYPE html>
<html>
  <head>
    <title>Goodness</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto+Slab" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  </head>

  <body>
  	<div class="container">
  		<div class="flex-xl-nowrap">
	      <% if notice %>
	        <p id="notice" class="alert alert-success center mt-2" role="alert">
	          <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
	          <%= notice %>
	        </p>
	      <% end %>
  		<%= yield %>
  	</div>
  </body>
</html>
